html{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    
}
body{
    margin: 0px;
}
div.container{
    max-width: 960px;
    margin: 0 auto;
}


header{
    background-color:#3FBF7F;
    height: 100px;
    
}
header div.logo{
        padding: 20px;
        position: absolute;
}
header div.logo img {
    position: absolute;
    border-radius: 15%;
    width: 120px;
}

header nav ul {
    margin-top: 60.5px;
    float: right;
        margin-right: 30px;
}
header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
   
}

    div.banner {
    height: 150px;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    
   
}
section.content {
    margin-top: 35px;
    margin-bottom: 70px;
    overflow: hidden;
}
section.content h1{
    padding: 10px;
    margin: 10px;
    border-bottom: 2px double #3FBF7F;
     max-width: 200px;
  

}

div.content_left {
    float: left;
    max-width: 500px;
    padding:25px;
}
div.content_left h1 {
    border-bottom: 2px double #3FBF7F;
}

div.picture {   
    align-items: center;
    display: inline-table;
     
      
}
div.picture img {
    
    background-size: 100%;
    max-height: 350px;
    max-width: 335px;
    margin: 10px 30px;
    padding: 5px;
    background-color: darkseagreen;
}

div.picture p {    
    font-size: 1.3rem;    
    margin: 10px 25px;
    width: 335px;
}

div.offer{
    color: black;
    display: inline-table;
    padding: 25px;
    background-color: lemonchiffon;
    margin-left: 10px;
    min-width: 250px;
    min-height: 450px;
    max-width: max-content;
    text-align: center;  
    text-decoration: none;  
}

div.offer div.title li{
    display: inline-block;
    box-sizing: border-box;
}
div.offer div.title li i.fa{
    
    display: block;
    font-size: 30px;
    padding: 15px 0;
    color: gold;    
}
div.offer div.picture img{
    padding: 10px;    
    border-radius: 50%;
    margin: 15px;     
    min-height: 163px;
    max-width: 200px; 
    max-height: 170px;          
}

div.offer div.discription {
    padding: 5px;
    background-color: white;
    font-size: 1.5rem;
}
div.offer div.discription p{    
    font-size: x-large;      
}

footer {
    clear: both;
    height: 145px;
    background-color: #ededed;
    padding: 10px 0;
    box-sizing: border-box;
}

footer p {
    color: #666666;
    font-size: 1.3rem;
}